<div class="card my-5">
  <div *ngIf="busines" class="card-body">
    <h1>Opening Times:</h1>
    <table *ngFor="let openingHour of busines.openingHoursDTO" class="table table-bordered table-striped">
      <h3>
        <td>{{openingHour.dayOfWeek}}</td>
      </h3>
      <h3>
        <td>{{openingHour.openingHours}}</td>
      </h3>
    </table>

    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <button (click)="goBack()" class="btn btn-info" type="goBack">Go back</button>
      </li>
    </ul>
  </div>
</div>

